.musiclist {
    padding: 30px;
    flex: 0.7;
    background-color: #040404;
    height: 100%;
    color: white;
    margin-bottom: 3%;    
}
.musiclist__searchbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.musiclist__searchbar__left {
    flex: 0.5;
    color: grey;
    display: flex;
    align-items: center;
}
.musiclist__searchbar__right {
    display: flex;
    align-items: center;
}
.musiclist__searchbar__right > h4 {
    margin-left: 10px;
}